#image {

    margin: 5%;
    text-align: center;
}

#about {
    border-radius: 10%;
    text-align: center;

}

#icons {
    padding: 5%;
}

#me {
    width: 50%;
    max-width: 300px;
    height: auto;

}