.col-md {
    padding: .5%;
}

.offset .container-fluid .row .col-md .card {
    width: 100%;
    height: 100%;
    border: none;

}

.offset .container-fluid .row .col-md .card>.face {
    width: 100%;
    height: 100%;
    transition: .5s;

}

.offset .container-fluid .row .col-md .card>.face.face1 {
    position: relative;
    background: #333;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(50%);
}

.offset .container-fluid .row .col-md .card:hover>.face.face1 {
    background: grey;
    transform: translateY(0);
}

.offset .container-fluid .row .col-md .card>.face.face1 .content {
    opacity: 0.2;
    transform: .5s;
}

.offset .container-fluid .row .col-md .card:hover>.face.face1 .content {
    opacity: 1;

}

.offset .container-fluid .row .col-md .card .face.face1 .content img {
    max-width: 100%;
}


.offset .container-fluid .row .col-md>.card>.face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    box-sizing: border-box;
    transform: translateY(-50%);
}

.offset .container-fluid .row .col-md .card:hover>.face.face2 {
    transform: translateY(0);
}

.offset .container-fluid .row .col-md .card>.face.face2 p {
    margin: 0;
    padding: 0;
    font-size: 1vw;
}

.offset .container-fluid .row .col-md .card>.face.face2 a {
    display: inline-block;
    text-decoration: none;
    font-size: 1vw;
    font-weight: 300;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.offset .container-fluid .row .col-md .card>.face.face2 .content a:hover {
    background: #333;
    color: #fff;
}